/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
ff.tar.gz
firemonitoring.tar.gz
.~lock.Таблиа общих сведений по АПС.xlsx#
build/config.gypi
storage/app
storage/docker
storage/framework
storage/logs